<div class="container-fluid bg-light">
  <h1 class="display-4 text-center">{{viewDate | date:'MMMM, yyyy'}}</h1>
  <div class="d-flex justify-content-between">
    <button
      class="btn btn-outline-primary"
      mwlCalendarPreviousView
      [view]="'month'"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button
      class="btn btn-outline-secondary"
      mwlCalendarToday
      [(viewDate)]="viewDate">
      Hoy
    </button>
    <button
      class="btn btn-outline-primary"
      mwlCalendarNextView
      [view]="'month'"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
  <mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [activeDayIsOpen]="activeDayIsOpen"
  (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>

  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-primary mb-3" (click)="showAddEventModal()">Crear evento</button>
  </div>
</div>