<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="form-check form-check-inline">
        <label *ngFor="let fruit of fruits | async" class="mr-3">
          <input type="checkbox" [(ngModel)]="visibleMarkers[fruit.key]" 
           name="{{fruit.key}}" class="mr-1"><span class="text-light text-capitalize">{{fruit.name}}</span>
        </label>
    </div>
  </nav>
  <label *ngFor="let fruit of fruits | async" class="mr-3">
    {{fruit.name}}{{visibleMarkers[fruit.key]}}
  </label>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <ng-container>
          <agm-marker [latitude]="9.4585" [longitude]="-83.56985" >
            <agm-info-window>
              <h5>Hola</h5>
              <p class="text-muted">Recomendaciones de temperatura para su cultivo.</p>
              <div class="d-flex justify-content-between">
                  <span class="mr-1"><i class="fa fa-thermometer-full text-muted"></i> <strong>Máx.</strong>hola</span>
                  <span class="mr-1"><i class="fa fa-thermometer-half text-muted"></i> <strong>Prom.</strong>holi</span>
                  <span class="mr-1"><i class="fa fa-thermometer-empty text-muted"></i> <strong>Min.</strong>holis</span>
              </div>
            </agm-info-window>
          </agm-marker>
      </ng-container>

    <ng-container  *ngFor="let fruit of fruits | async">
      <agm-marker [latitude]="fruit.latitude" [longitude]="fruit.longitude" *ngIf="visibleMarkers[fruit.key]"> <!--Aca esta el error necesito que lo vea numero-->
        <agm-info-window>
          <h5>{{fruit.name}}</h5>
          <p class="text-muted">Recomendaciones de temperatura para su cultivo.</p>
          <div class="d-flex justify-content-between">
              <span class="mr-1"><i class="fa fa-thermometer-full text-muted"></i> <strong>Máx.</strong>{{fruit.max_temperature}}</span>
              <span class="mr-1"><i class="fa fa-thermometer-half text-muted"></i> <strong>Prom.</strong>{{fruit.mean_temperature}}</span>
              <span class="mr-1"><i class="fa fa-thermometer-empty text-muted"></i> <strong>Min.</strong> {{fruit.min_temperature}}</span>
          </div>
        </agm-info-window>
      </agm-marker>
    </ng-container> 

  </agm-map>