<div class="modal-header">
  <h4 class="modal-title pull-left">Agregar Evento</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>Título</label>
  <input type="text" class="form-control" required [(ngModel)]="title" placeholder="Requerido">

  <label>Inicio del evento</label>
  <input type="text"
          placeholder="Requerido"
          class="form-control"
          required [(ngModel)]="startDate"
          bsDatepicker>

  <timepicker [(ngModel)]="startTime"></timepicker>
  <label>Fin del evento</label>
  <input type="text"
          placeholder="Requerido"
          class="form-control"
          required [(ngModel)]="endDate"
          bsDatepicker>
  <timepicker [(ngModel)]="endTime"></timepicker>
  
</div>

<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="!title || !startDate || !endDate || !startTime || !endTime"
  (click)="addEvent()" *ngIf="!loading">Crear</button>

  <i class="fa fa-refresh fa-spin" *ngIf="loading"></i>
</div>